<section class="widget-wrapper">
    <div class="temp">Temp: {{ forecastData.temperature }} &deg;</div>
    <div class="temp">Storm Distance: {{ forecastData.stormDistance }} miles</div>
    <div class="temp">Storm Bearing: {{ forecastData.stormBearing }}</div>
    <div class="temp">Precip Prob: {{ forecastData.precipProb }}</div>
    <div class="temp">Precip Type: {{ forecastData.precipType }}</div>
    <div class="temp">Summary: {{ forecastData.summary }}</div>
    <div class="temp">Icon: {{ forecastData.icon }}</div>
    <div class="temp">Wind Speed: {{ forecastData.windSpeed }}</div>
    <div class="temp">Wind Bearing: {{ forecastData.windBearing }}</div>
</section>
